<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.GitGudDevs.fitpal"
    xmlns:dist="http://schemas.android.com/apk/distribution">

    <dist:module dist:instant="true" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FitPal">
        <activity
            android:name=".Chat"
            android:exported="false" />
        <activity
            android:name=".Amigos"
            android:exported="false" />
        <activity
            android:name=".ListaEventos"
            android:exported="false" />
        <activity
            android:name=".PerfilEncontrado"
            android:exported="false" />
        <activity
            android:name=".BuscarPerfil"
            android:exported="false" />
        <activity
            android:name=".PantallaRegistro3"
            android:exported="false" />
        <activity
            android:name=".PantallaRegistro1"
            android:exported="true" />
        <activity
            android:name=".PantallaRegistro2"
            android:exported="false" />
        <activity
            android:name=".PantallaRegistro4"
            android:exported="false" />
        <activity
            android:name=".PantallaPrincipal"
            android:exported="false" />
        <activity
            android:name=".PantallaLogin"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>